@media only screen and (min-width: 768px) and (max-width: 1023px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  .App {
    font-family: "Poppins";
    color: #898B9A;
  }
  .pricing-page {
    width: 100%;
    min-height: 100vh;
  }
  .pricing-page .bg-main {
    height: 50vh;
    width: 100%;
    background-color: #F9FAFF;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 20px -30px 90px rgba(137, 139, 154, 0.08);
            box-shadow: 20px -30px 90px rgba(137, 139, 154, 0.08);
  }
  .pricing-page .bg-main-1 {
    top: 0;
  }
  .pricing-page .bg-main-2 {
    top: 50vh;
  }
  .pricing-page .main {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pricing-page .main .content {
    width: 90%;
    height: 100%;
  }
  .pricing-page .main .content .content-head {
    text-align: center;
    margin-bottom: 50px;
  }
  .pricing-page .main .content .content-head h1 {
    margin-top: 100px;
    font-size: 28px;
    font-weight: 600;
    color: #293356;
    margin-bottom: 20px;
  }
  .pricing-page .main .content .content-head h5 {
    font-size: 16px;
  }
  .pricing-page .main .content .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card {
    padding: 0px 35px 0px 35px;
    width: 480px;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 20px 40px rgba(137, 139, 154, 0.08);
            box-shadow: 0px 20px 40px rgba(137, 139, 154, 0.08);
  }
  .pricing-page .main .content .content-body .card .card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .pricing-page .main .content .content-body .card .card-head .head-left {
    width: 50%;
  }
  .pricing-page .main .content .content-body .card .card-head .head-left h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .pricing-page .main .content .content-body .card .card-head .head-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card .card-head .head-right h1 {
    font-size: 36px;
    font-weight: 600;
    color: #293356;
    margin-right: 10px;
  }
  .pricing-page .main .content .content-body .card .card-head .head-right span {
    font-size: 14px;
  }
  .pricing-page .main .content .content-body .card .card-slider {
    margin-bottom: 50px;
    position: relative;
  }
  .pricing-page .main .content .content-body .card .card-slider .bg-range {
    background-color: #0FD6C3;
    opacity: 0.7;
    height: 20px;
    position: absolute;
    top: 2px;
    border-radius: 15px 0px 0px 15px;
    z-index: 8;
  }
  .pricing-page .main .content .content-body .card .card-slider .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    height: 20px;
    background: #D0D8ED;
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
  .pricing-page .main .content .content-body .card .card-slider .slider:hover {
    opacity: 1;
  }
  .pricing-page .main .content .content-body .card .card-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #0FD6C3;
    -webkit-box-shadow: 0px 15px 45px #0FD6C3;
            box-shadow: 0px 15px 45px #0FD6C3;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 9;
  }
  .pricing-page .main .content .content-body .card .card-slider .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #0FD6C3;
    border-radius: 50%;
    cursor: pointer;
  }
  .pricing-page .main .content .content-body .card .card-choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-left {
    width: 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-center {
    width: 16%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-center .box {
    width: 45px;
    height: 24px;
    border-radius: 10px;
    background-color: #D0D8ED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-center .box .circle {
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 3px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-center .box.active {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #0FD6C3;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-center .box.active .circle {
    -webkit-transition: 300ms;
    transition: 300ms;
    left: 24px;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-right {
    width: 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-right h4 {
    margin-right: 10px;
  }
  .pricing-page .main .content .content-body .card .card-choice .choice-right span {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    background-color: #FFE9E5;
    color: #EEA489;
  }
  .pricing-page .main .content .content-body .card .card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-left {
    width: 50%;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-left .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-left .information .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-left .information .item .icon {
    width: 10%;
    color: #0FD6C3;
    font-size: 14px;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-left .information .item .text {
    width: 90%;
    font-size: 14px;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-right button {
    padding: 12px 24px 12px 24px;
    background-color: #293356;
    border: 1px solid #293356;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-weight: 500;
  }
  .pricing-page .main .content .content-body .card .card-footer .footer-right button:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: transparent;
    color: #293356;
  }
  #desktop {
    display: none;
  }
}
/*# sourceMappingURL=tablet-style.css.map */